<p id="notice"><%= notice %></p>

<h1>Restaurantes</h1>

<table border="1">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Usuario</th>
      <%#= @users.restaurante.nombre %>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurantes.each do |restaurante| %>
      <tr>
        <td><%= restaurante.nombre %></td>
        <td><%= restaurante.user.email %></td>
        <td><!-- <%= link_to 'Ver', restaurante %> --></td>
        <td><%= link_to 'Editar', edit_restaurante_path(restaurante) %></td>
        <td><%= link_to 'Eliminar', restaurante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button"><%= link_to 'Nuevo Restaurante', new_restaurante_path %>
</button>
