<p id="notice"><%= notice %></p>

<h1>Categorías</h1>

<table border="1">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Proveedor</th>
      <th>Celular proveedor</th>
      <% if current_user.rol == ADMIN || current_user.rol == OPERARIO %> <th colspan="3"></th> <% end %>
    </tr>
  </thead>

  <tbody>
    <% @categoria.each do |categorium| %>
      <tr>
        <td><%= categorium.nombre %></td>
        <td><%= categorium.proveedor.user.email %></td>
        <td><%= categorium.proveedor.user.celular%></td>
        <% if current_user.rol == ADMIN || current_user.rol == OPERARIO %><td><!-- <%= link_to 'Ver', categorium %> --></td>
        <% if current_user.rol == ADMIN %><td><%= link_to 'Editar', edit_categorium_path(categorium) %></td><% end %>
        <% if current_user.rol == ADMIN %><td><%= link_to 'Eliminar', categorium, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.rol == ADMIN %>
    <button type="button">    <%= link_to 'Nueva categoría', new_categorium_path %>
    </button>

<% end %>
