<%= form_for(@proveedor) do |f| %>
  <% if @proveedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedor.errors.count, "error") %> prohibited this proveedor from being saved:</h2>

      <ul>
      <% @proveedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label :nombre %></strong><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <strong><%= f.label :usuario %></strong><br>
    <%= f.select :user_id, options_for_select(@proveedors.map{ |c| [c.email, c.id, {'data-id'=>c.id}] },(@proveedor.user_id)) %>
  </div>
  <div class="field">
    <strong><%= f.label :saldo %></strong><br>
    <%= f.text_field :saldo %>
  </div>
  <div class="field">
    <strong><%= f.label :cuanto_tarda %></strong><br>
    <%= f.text_field :cuanto_tarda %>
  </div>
  <div class="actions">
    <%= f.submit "Crear proveedor"%>
  </div>
<% end %>
