<h1>Usuario</h1>

<% if current_user.rol == ADMIN
     role = @usuario.rol
%>

    <table style="width:75%" border = "1">
      <tr>
        <th>Email</th>
        <th>Celular</th>
        <th>Rol</th>
        <th>Último ingreso</th>
      </tr>
      <tr>
        <td><%= @usuario.email %></td>
        <td><%= @usuario.celular %></td>
        <td><%= role == RESTAURANTE ? 'Restaurante' : (role == ADMIN ? 'Administrador' : (role == PROVEEDOR ? 'Proveedor' : 'Operario')) %></td>
        <td><%= @usuario.last_sign_in_at %></td>
      </tr>
    </table>

<% end %>
<form method="post" action="new_change_password">
  <br>
  <%= token_tag %>
  <strong>Nueva contraseña</strong><br>
  <input type="password" name="password"><br>
  <strong>Confirmar nueva contraseña</strong><br>
  <input type="password" name="password_confirmation"><br>
  <strong>Actualizar correo</strong><br>
  <input type="text" name="email"><br>

  <input type="hidden" name="user_id" value="<%= @usuario.id %>"><br>

  <input type="submit"><br>

</form>